<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Citation au hazard</li>
    </ul>

    <blockquote class="pull-right">
        <p>{{ citation.content | raw }}</p>
        <small>{{ citation.author }} <cite title="Source Title"></cite></small>
    </blockquote>
    <br style="clear: both;"/>
</div>
